.Map {
  width: 80%;
  height: 600px;
  margin-left: 5%;
  margin-top: 0.3%;
}

.Map-container {
  width: 112%;
  height: 100%;
  margin-top: 1.2%;
}

.estilosDeSelect {
  background-color: #7e57c2;
  position: sticky;
}


