.card {
  background-color: rgb(173, 223, 252);
}

.stack {
  align-items: center;
  justify-content: center;
  background-color: #001529 !important;
  background-size: 100%;
  padding: 85px 0 !important;
}
